body{
    padding-top: 3rem;
    padding-right: 8rem;
    padding-left: 8rem
}
.row.header{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
}
.time{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-title-time {
    padding-top: 0.3rem;
    margin-left: 0.75rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.card-deck{
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.p-filters-wrapper{
    display: flex;
    margin-bottom: 25px;
    margin-top: 15px;
}

.filtres__filtres{
    width: 170px;
    border-radius: 5px;
    height: 69px;
    margin-right: 80px;
}

.filtres__filtres__1{
    display: flex;
    background-color: #3282F7;
    width: 170px;
    border-radius: 5px;
    height: 69px;
    margin-right: 80px;
}
.filtres__filtres__2{
    display: flex;
    background-color: #68D9A4;
    width: 170px;   
    border-radius: 5px;
    height: 69px;
    margin-right: 80px;
}
.filtres__filtres__3{
    display: flex;
    background-color: #ED6454;
    width: 170px;
    border-radius: 5px;
    height: 69px;
    margin-right: 80px;
}

.filtres-recherche{
    background: none;
    border: none;
    width: 100%;
    font-family: Lato;
    text-align: center
    ;
}
.filtres-recherche::placeholder{
    color: white;
    text-align: center;
}

.btn-danger{
    color: none;
    background-color: none;
    border-color: none;
}

.show{
    display: flex;
    position:relative;
}
